.footer{
  margin:  10px auto;
  display: flex;
  justify-content: space-between;
  border-top:  1px solid #797979;
  align-items: center;
  padding: 15px 0;
  align-items: center;
}
.footer ul li{
  list-style: none;
  display: inline-block;
  margin-left: 20px;
}
/* media Query */
@media (max-width:800px){
  .footer{
    display: block;
    text-align: center;
  }
  .footer ul li{
    margin: 10px;
  }
}